/* Estilos generales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* Estilos específicos para la imagen */
  .img-profile {
    border-radius: 50%;
    max-width: 100px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  @media (max-width: 576px) {
    th, td {
      font-size: 14px;
    }
  }
  